cmake-build-debug/CMakeFiles
cmake-build-debug/.cmake/api/v1/reply
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache